<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutomationExercises" parallel="classes" annotations="JDK">

    <listeners>
        <listener class-name="com.AutomationExercise.utils.CustomListener"/>
    </listeners>

    <test name="TestSuite" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Products"/>
            <class name="RegistrationLogin"/>
            <class name="Cart"/>
            <class name="Home"/>
        </classes>
    </test>
</suite>
